<% if @product.has_variants? %>
  <div id="product-variants">
    <h2><%= t('variants') %></h2>
    <% index = 0 %>
    <% @product.grouped_option_values.each do |type, values| %>
      <div id="<%= dom_id(type) %>" class="variant-options index-<%= index %>">
        <h6 class="variant-option-type"><%= type.presentation %></h6>
        <ul class="variant-option-values">
        <% values.sort_by(&:position).each do |value| %>
          <% classes = ["option-value"] %>
          <% unless (variants = @product.variants_for_option_value(value)).empty? %>
            <% classes << ( Spree::Config[:allow_backorders] || variants.sum(&:count_on_hand) > 0 ? "in-stock" : "out-of-stock" ) if index == 0 %>
            <li><%= link_to value.has_image? ? image_tag(value.image.url, :alt => value.presentation) : content_tag(:span, value.presentation), "#", :title => value.presentation, :class => classes.join(" "), :rel => "#{type.id}-#{value.id}" %></li>
          <% end %>
        <% end %>
          <li class="clear-option"><%= link_to "X", "#clear", :class => "clear-button clear-index-#{index}" %></li>
          <li class="clear"></li>
        </ul>
      </div>
      <% index += 1 %>
    <% end %>
    <%= hidden_field_tag "products[#{@product.id}]", "", :id => "variant_id", :class => "hidden" %>
    <script type="text/javascript">
    //<![CDATA[
      var variant_options = new VariantOptions(<%== @product.variant_options_hash.to_json %>, <%==  !!Spree::Config[:allow_backorders] %>);
    //]]>
    </script>    
  </div>
<% end%>
