<div id="product-variants" class="col-md-6">
  <h3 class="product-section-title"><%= Spree.t(:variants) %></h3>
  <h6 id="variant-not-available" class="variant-not-available hidden">This variant is not available right now.</h6>
  <ul class="list-group">
    <% option_value_ids = @product.option_value_ids %>
    <% ordered_option_types = @product.ordered_option_types.includes(:option_values) %>

    <% ordered_option_types.each_with_index do |type, index| %>
      <div id="<%= dom_id(type) %>" class="variant-options index-<%= index %>">
        <h6 class="variant-option-type"><strong><%= type.presentation %></strong></h6>
        <ul class="variant-option-values">
          <% type.option_values.sort_by(&:position).each do |value| %>
            <% if option_value_ids.include? value.id %>
              <li><%= link_to value.has_image? ? image_tag(value.image.url, alt: value.presentation) : content_tag(:span, value.presentation), "#", title: value.presentation, class: "option-value", data: { type_id: type.id, value_id: value.id, level: (index + 1) } %></li>
            <% end %>
          <% end %>
          <li class="clear-option hidden">
            <%= link_to "X", "#clear", class: "clear-button", data: { level: index } %>
          </li>
          <li class="clear"></li>
        </ul>
      </div>
    <% end %>
    <%= hidden_field_tag "variant_id", "", id: "variant_id", class: "hidden" %>
    <script type="text/javascript">
    //<![CDATA[
      var variant_option_details = <%== @product.variants_option_value_details.to_json %>
      var options = {
        option_type_count: <%== ordered_option_types.length %>,
        allow_select_outofstock: <%== !!SpreeVariantOptions::VariantConfig[:allow_select_outofstock] %>,
        default_instock: <%== !!SpreeVariantOptions::VariantConfig[:default_instock] %>
      }

    //]]>
    </script>
  </ul>
</div>
