<%= form_for :order, :url => populate_orders_url do |f| %>
  <div data-hook="inside_product_cart_form">

    <% if @product.price %>
      <div data-hook="product_price">
        <dl id="product-price">
          <dt><%= t("price") %></dt>
          <dd><span class="price selling"><%= product_price(@product) %></span></dd>
        </dl>
      </div>
    <% end %>
    
    <%= render 'variant_options' %>
    
    <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
      <%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
        1, :class => "title", :size => 3 %>
      &nbsp;
      <button type="submit" class="large primary" id="add-to-cart-button">
        <%= image_tag('icons/add-to-cart.png') + t('add_to_cart') %>
      </button>
    <% else %>
      <%= content_tag('strong', t('out_of_stock')) %>
    <% end %>

  </div>
<% end %>
